html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: #B4B6E9;
    border-radius: 5px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffffcd;
}